<div class="crudmenu">
    <button mat-raised-button color="accent" (click)="createProfile()">Add Profile</button> 
    <button mat-button (click)="editProfile()">Edit Profile</button>
    <button mat-raised-button color="warn" (click)="deleteProfile()">Delete Profile</button>
    <br>
    Selected Row:<span id="selectedRows"></span>
</div>
<ag-grid-angular
#agGrid
style="width: 90%; height:85%;"
class="ag-theme-alpine" 
(selectionChanged)="onSelectionChanged()"   
[rowData]="rowData"
[columnDefs]="columnDefs"

rowSelection="multiple"
(rowSelected)="onRowSelected($event)"
rowMultiSelectWithClick="true"

[rowClassRules]="rowClassRules"
[defaultColDef]="defaultColDef"
[colResizeDefault]="colResizeDefault"
(rowDoubleClicked) = "onRowDoubleClick($event)"
[enableRangeSelection]="true"
[pagination]="true"
[paginationAutoPageSize]="true">
</ag-grid-angular>

