<div class="container">
  <div class="float-button">
      <button mat-raised-button (click)="back()"><mat-icon>chevron_left</mat-icon>Back</button>
  </div>

  <form #submoduleform="ngForm" ngNativeValidate (ngSubmit)="test(submoduleform.valid,submoduleform)" class="create-form form-horizontal" novalidate>
      <fieldset [disabled]="readonly">
          <div class="row">
              <div class="col-md-6 form-group">
                  <label class="control-label col-sm-4" for="SUB_MODULE_CODE">Sub Module Code:</label>
                  <mat-form-field class="lookup " appearance="outline">
                      <mat-label>code</mat-label>
                      <input matInput placeholder="Sub Module Code"
                       id="SUB_MODULE_CODE" [matAutocomplete]="auto" name="SUB_MODULE_CODE" [(ngModel)]="submodule.SUB_MODULE_CODE" required >
                       <mat-autocomplete #auto="matAutocomplete" ></mat-autocomplete>
                       <div class="control-label">
                          <mat-error *ngIf="submodule.SUB_MODULE_CODE == null && isSubmitted ">
                              Sub Module Code is Mandatory *</mat-error>
                      </div>
                  </mat-form-field>
              </div>
              <div class="col-md-6 form-group">
                  <label class="control-label col-sm-4" for="SUB_MODULE_NAME">Sub Module Name:</label>
                  <mat-form-field class="lookup " appearance="outline" >
                      <mat-label>Module Name</mat-label>
                      <input required matInput placeholder="User First Name" id="SUB_MODULE_NAME" name="SUB_MODULE_NAME" [matAutocomplete]="auto"
                       [(ngModel)]="submodule.SUB_MODULE_NAME">
                       <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
                       <div class="control-label">
                          <mat-error *ngIf="submodule.SUB_MODULE_NAME == null && isSubmitted ">Module Name is Mandatory *</mat-error>
                      </div>
                  </mat-form-field>
              </div>

          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <label class="control-label col-sm-2" for="app_id"><sup>*</sup>Product:</label>
              <mat-form-field class="lookup" appearance="outline">
                  <mat-label>Product</mat-label>
                  <input matInput placeholder="Select Product"
                   id="app_id" #app_id [matAutocomplete]="auto" name="product"
                   [formControl]="AppCtrl" [(ngModel)]="product" required >
                      <mat-autocomplete #auto="matAutocomplete">

                      <mat-option *ngFor="let id of filteredAppId | async" [value]="id.PRODUCT_NAME">
                          {{id.PRODUCT_CODE}} - {{id.PRODUCT_NAME}}
                      </mat-option>
                  </mat-autocomplete>
                  <div class="control-label">
                      <mat-error *ngIf="product==null && isSubmitted">Select Anyone *</mat-error>
                  </div>
              </mat-form-field>
          </div>
          <div class="col-md-6 form-group">
            <label class="control-label col-sm-4" for="SUB_APPLICABILITY">Applicability:</label>
            <mat-form-field class="lookup " appearance="outline">
                <mat-label>Applicability</mat-label>
                <input required matInput placeholder="Applicability" [matAutocomplete]="auto" id="SUB_APPLICABILITY"  name="SUB_APPLICABILITY" [(ngModel)]="submodule.SUB_APPLICABILITY">
                <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
                <div class="control-label">
                    <mat-error *ngIf="submodule.SUB_APPLICABILITY == null && isSubmitted ">Module Applicability  is Mandatory *</mat-error>
                </div>
            </mat-form-field>
        </div>
          </div>
          <div class="row">

            <div class="col-md-6 form-group">
              <label class="control-label col-sm-4" for="SUB_MODULE_ACTIVE_FLAG">Sub Module Active Status:</label>
              <mat-form-field class="lookup " appearance="outline">
                  <mat-label>Active Status</mat-label>
                  <input matInput placeholder="Sub Module Active Flag"  id="SUB_MODULE_ACTIVE_FLAG" [matAutocomplete]="autor"
                  [formControl]="RefDetailCtrl" [(ngModel)]="ref">
                  <mat-autocomplete #autor="matAutocomplete">
                  <mat-option *ngFor="let id of filteredRefDetail | async" [value]="id.RCD_ABBREVIATION">
                      {{id.RCD_MEANING}} - {{id.RCD_ABBREVIATION}}
                  </mat-option>
              </mat-autocomplete>
              <div class="control-label">
                  <mat-error *ngIf="submodule.ref==null && isSubmitted"></mat-error>
              </div>
          </mat-form-field>
          </div>
              <div class="col-md-6 form-group">
                  <label class="control-label col-sm-4" for="SUB_MODULE_ORDER_BY">Sub Module Order:</label>
                  <mat-form-field class="lookup" appearance="outline">
                      <mat-label>Sub Module Order</mat-label>
                      <input required matInput placeholder="Sub Module Order "  type="number" id="SUB_MODULE_ORDER_BY" type="text"
                      [matAutocomplete]="auto"  name="SUB_MODULE_ORDER_BY" [(ngModel)]="submodule.SUB_MODULE_ORDER_BY">
                      <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
                      <div class="control-label">
                          <mat-error *ngIf="submodule.SUB_MODULE_ORDER_BY == null && isSubmitted ">Disp is Mandatory *</mat-error>
                      </div>
                  </mat-form-field>
              </div>


          </div>
          <div class="row">

              <div class="col-md-6 form-group">
                  <label class="control-label col-sm-4" for="SUB_MODULE_PAGE">Sub module page:</label>
                  <mat-form-field class="lookup " appearance="outline">
                      <mat-label>Sub module page</mat-label>
                      <input  matInput  placeholder="Sub module page " id="SUB_MODULE_PAGE" name="SUB_MODULE_PAGE"
                      [(ngModel)]="submodule.SUB_MODULE_PAGE" [matAutocomplete]="auto" >
                      <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
                      <!-- <div class="control-label">
                          <mat-error *ngIf="submodule.user_last_name == null && isSubmitted ">Role Description is Mandatory *</mat-error>
                      </div> -->
                  </mat-form-field>
              </div>
              <div class="col-md-6 form-group">
                  <label class="control-label col-sm-4" for="SUB_MODULE_PATH">Sub module path:</label>
                  <mat-form-field class="lookup " appearance="outline">
                      <mat-label>Sub module path</mat-label>
                      <input  matInput  placeholder="" id="SUB_MODULE_PATH" name="SUB_MODULE_PATH" [(ngModel)]="submodule.SUB_MODULE_PATH"
                      [matAutocomplete]="auto">
                      <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
                      <!-- <div class="control-label">
                          <mat-error *ngIf="submodule.SUB_MODULE_PAGE == null && isSubmitted ">Sub module path is Mandatory *</mat-error>
                      </div> -->
                  </mat-form-field>
              </div>


          </div>
          <div class="row">


              <div class="col-md-6 form-group">
                  <label class="control-label col-sm-4" for="SUB_MODULE_ICON">Sub module Icon:</label>
                  <mat-form-field class="lookup " appearance="outline">
                      <mat-label>Sub module Icon</mat-label>
                      <input  matInput id="SUB_MODULE_ICON" name="SUB_MODULE_ICON" [(ngModel)]="submodule.SUB_MODULE_ICON">

                  </mat-form-field>
              </div>
              <div class="col-md-6 form-group">
                  <label class="control-label col-sm-4" for="SUB_MODULE_PASSWORD_REQUIRED">Password required:</label>
                  <mat-form-field class="lookup " appearance="outline">
                      <mat-label>Password required</mat-label>
                      <input required matInput placeholder="Password required" [matAutocomplete]="auto" id="SUB_MODULE_PASSWORD_REQUIRED" name="SUB_MODULE_PASSWORD_REQUIRED" [(ngModel)]="submodule.SUB_MODULE_PASSWORD_REQUIRED">
                      <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
                      <div class="control-label">
                          <mat-error *ngIf="submodule.SUB_MODULE_PASSWORD_REQUIRED == null && isSubmitted ">Password required  is Mandatory *</mat-error>
                      </div>
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <label class="control-label col-sm-4" for="SUB_MODULE_PREFIX ">Sub Module prefix:</label>
              <mat-form-field class="lookup " appearance="outline">
                  <mat-label>Sub Module prefix</mat-label>
                  <input required matInput placeholder="Sub module prefix" id="SUB_MODULE_PREFIX" name="SUB_MODULE_PREFIX" [(ngModel)]="submodule.SUB_MODULE_PREFIX">

                  <div class="control-label">
                      <mat-error *ngIf="submodule.SUB_MODULE_PREFIX == null && isSubmitted ">Sub Module prefix is Mandatory *</mat-error>
                  </div>
              </mat-form-field>
          </div>
          <div class="col-md-6 form-group">
            <label class="control-label col-sm-4" for="SUB_MODULE_ACTIVE_FROM "> Sub Module Active From:</label>
            <mat-form-field class="lookup " appearance="outline">
                <mat-label> Active From</mat-label>
                <input required matInput [min]="min" placeholder="Active from" [matDatepicker]="picker" id="SUB_MODULE_ACTIVE_FROM" name="SUB_MODULE_ACTIVE_FROM" [(ngModel)]="submodule.SUB_MODULE_ACTIVE_FROM">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
                <div class="control-label">
                    <mat-error *ngIf="submodule.SUB_MODULE_ACTIVE_FROM == null && isSubmitted ">Active from is Mandatory *</mat-error>
                </div>
            </mat-form-field>
        </div>
          </div>


          <div class="row">

            <div class="col-md-6 form-group">
                <label class="control-label col-sm-4" for="SUB_MODULE_ACTIVE_TO ">Sub Module Active To:</label>
                <mat-form-field class="lookup " appearance="outline">
                    <mat-label> Active To</mat-label>
                    <input required matInput [min]="min" placeholder="Active to" [matDatepicker]="picker1" id="SUB_MODULE_ACTIVE_TO" name="SUB_MODULE_ACTIVE_TO" [(ngModel)]="submodule.SUB_MODULE_ACTIVE_TO">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker1></mat-datepicker>
                    <div class="control-label">
                        <mat-error *ngIf="submodule.SUB_MODULE_ACTIVE_TO == null && isSubmitted ">Active To is Mandatory *</mat-error>
                    </div>
                </mat-form-field>
            </div>


        </div>


          <div class="container row">
              <div class="col-sm-4 form-group">
                  <button mat-raised-button color="accent" type="submit" (click)="test(submoduleform.valid,submoduleform)">Save</button>
              </div>
              <div class="col-sm-4 form-group">
                  <button mat-raised-button color="warn" (click)="back()">Close</button>
              </div>
          </div>
      </fieldset>
  </form>
</div>
