<div class="crudmenu">
    <button mat-raised-button color="accent" (click)="createProfileHeader()">Add ProfileHeader</button> 
    <button mat-button (click)="editProfileHeader()">Edit ProfileHeader</button>
    <button mat-raised-button color="warn" (click)="deleteProfileHeader()">Delete ProfileHeader</button>
    <br>
    Selected Row:<span id="selectedRows"></span>
</div>
    <ag-grid-angular
    #agGrid
    style="width: 98%; height:85%;"
    class="ag-theme-alpine" 
    (selectionChanged)="onSelectionChanged()"   
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    rowSelection="rowSelection"
    [defaultColDef]="defaultColDef"
    [colResizeDefault]="colResizeDefault"
    [rowClassRules]="rowClassRules"
    (rowDoubleClicked) = "onRowDoubleClick()"
    [enableRangeSelection]="true"
    [pagination]="true"
    [paginationAutoPageSize]="true"
    >
</ag-grid-angular>
