<div class="crudmenu">
    <button mat-raised-button color="accent" (click)="createProduct()">Add Product</button> 
    <button mat-button (click)="editProduct()">Edit Product</button>
    <button mat-raised-button color="warn" (click)="deleteProduct()">Delete Product</button>
    <button mat-raised-button color="danger" (click)="deploy()" style="margin-left: 30%;">
        <mat-icon>launch</mat-icon>Deploy Product</button>
    <br>
    Selected Row:<span id="selectedRows"></span>
</div>
    <ag-grid-angular
    #agGrid
    style="width: 98%; height:85%;"
    class="ag-theme-alpine" 
    (selectionChanged)="onSelectionChanged()"  
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [rowClassRules]="rowClassRules"
    
    rowSelection="multiple"
    (rowSelected)="onRowSelected($event)"
    rowMultiSelectWithClick="true"

    [defaultColDef]="defaultColDef"
    [colResizeDefault]="colResizeDefault"
    (rowDoubleClicked) = "onRowDoubleClick($event)"
    [enableRangeSelection]="true"
    [pagination]="true"
    [paginationAutoPageSize]="true">
</ag-grid-angular>
